@{
	ViewBag.Title = "Ryan & Sepi - 08.03.2013";
}

@Html.Partial("Home")

<div class="fabric-rule"></div>

@Html.Partial("OurStory")

<div class="fabric-rule"></div>

@Html.Partial("Wedding")

<div class="fabric-rule"></div>

@Html.Partial("Visitors")

<div class="fabric-rule"></div>

@Html.Partial("Rsvp")