@{
    ViewBag.Title = "Index";
}

@Html.Partial("Home")

@Html.Partial("OurStory")

<div class="fabric-rule">
</div>

@Html.Partial("Wedding")

@Html.Partial("Visitors")

@Html.Partial("Gallery")

@Html.Partial("Rsvp")


<!--

    Venue
    Accomodations
    Our Story
    RSVP
    Registries

-->