@using System.Web.UI.HtmlControls
@model OurWedding.Web.ViewModels.RsvpViewModel
<a id="rsvp"></a>
<section class="row" id="rsvp-page" data-magellan-destination='rsvp'>

	<div class="page-wrapper">

		<div class="page">
			<img alt="story" id="story-photo" src="@Url.Content("~/Content/img/montage.jpg")" />
			<h2 class="align-center">RSVP
			</h2>
			<img alt="divider" class="page-divider" src="@Url.Content("~/Content/img/small_heart.png")" />
			<br />
			<p>
				<em>Complete the form below with your full name and the names of your additional guests. We ask that all RSVPs be received by July 1st, 2013.</em>
			</p>

			@using (Ajax.BeginForm("Rsvp", new AjaxOptions { UpdateTargetId = "rsvpresult", LoadingElementDuration = 0, LoadingElementId = "submitting"}))
			{
				@Html.LabelFor(x => x.GuestName)
				@Html.TextBoxFor(x => x.GuestName)
				@Html.ValidationMessageFor(x => x.GuestName)

				@Html.LabelFor(x => x.AdditionalGuestNames)
				@Html.TextAreaFor(x => x.AdditionalGuestNames)
				@Html.ValidationMessageFor(x => x.AdditionalGuestNames)

				<div class="row">
					<div class="large-3 columns">
						<label>
							@Html.RadioButtonFor(x => x.Accepted, true)
							<span class="custom radio"></span>
							Gladly Accepts
						</label>
					</div>
					<div class="large-9 columns">
						<label>
							@Html.RadioButtonFor(x => x.Accepted, false)
							<span class="custom radio"></span>
							Sadly Declines
						</label>
					</div>
				</div>
				@Html.ValidationMessageFor(x => x.Accepted)
	   
				@Html.LabelFor(x => x.SongRequest)
				@Html.TextBoxFor(x => x.SongRequest)
				@Html.ValidationMessageFor(x => x.SongRequest)

				@Html.LabelFor(x => x.Comments)
				@Html.TextAreaFor(x => x.Comments)
				@Html.ValidationMessageFor(x => x.Comments)
				<span>Please include your phone number or e-mail address if you require a response.</span>

				<div id="rsvpresult" style="margin-top: 10px;">
					<input class="form-button" id="submit-form" type="submit" value="Send my RSVP">
				</div>
	   
				<div id="submitting" style="display: none;">
					<p style="text-align: center;">Submitting RSVP, please wait...</p>
				</div>
				
			}

		</div>

	</div>

</section>
